@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800;900&display=swap');* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
body {
  background-color: white;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}
main{
  color: white;
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-right: 2%;
  margin-left: 2%;
  
}
header {
  height: 50%;
  display : flex;
  flex-direction: column;
 justify-content: end;

}
h1{
  font-family: "Raleway", sans-serif;
  font-size: 128px;
  color :#45DDA6 ;

}
#hero{
  height: 50%;
  background-color: #45DDA6 ;
}
#introductionText {
  color: white;
  font-size: 30px;
  width: 45%;
  position: absolute;
  bottom: -150px;
  left: 5%;
  margin-top: 5%;
  font-style: italic;
  transition: transform 0.3s ease-out;
}
.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease;
}
.visible {
  opacity: 1;
  transform: translateY(0);
} 
  

#bottomArrow {
  width: 50px;
  position : absolute;
  bottom : 10px;
  right: 50%;


}
/* Style de la modale */
.modal {
  display: none; /* Cachez la modale par défaut */
  position: fixed; /* Position fixe pour la modale */
  z-index: 1; /* Mettez la modale en haut de la pile */
  left: 0;
  top: 0;
  width: 100%; /* Largeur de la modale */
  height: 100%; /* Hauteur de la modale */
  overflow: auto; /* Ajoutez le défilement si nécessaire */
  background-color: rgba(0,0,0,0.4); /* Fond noir semi-transparent */
}

/* Contenu de la modale */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% du haut et centré horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largeur du contenu de la modale */
}

/* Bouton de fermeture */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





