@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  padding-top : 2px;
  padding-bottom : 2px ;
  font-family: "Raleway", sans-serif;
  background-color: black;
}

main {
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 6fr 1fr;
  height: 100vh;
}

#header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: start;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;
}
.arrow {
  width: 60px;
}

#center {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  animation: color-animation 1s ease-in-out forwards;
  animation-iteration-count: 1;
  display: flex;
  letter-spacing: 15px;
}

.letter {
  font-family: "Raleway", sans-serif;
  font-stretch: expanded;
  animation: color-change 0.5s;
  animation-fill-mode: forwards;
}

#leftside {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 1Opx;
}
#rightside {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-right:10px;
}

#footer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  display: flex;
  justify-content: centr;
  align-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

#text {
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
}
.text {
  text-transform: uppercase;
}

.footer-div {
  position: relative;
  transition: all 4s ease-in-out;
  animation: drop 4s ease-in-out;
  margin-bottom : 40px ;
}
@keyframes drop {
  from {
    top: -200%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#leftside {
  position: relative;
  transition: all 4s ease-in-out;
  animation: dropleft 4s ease-in-out;
}
@keyframes dropleft {
  from {
    right: -200%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
#header {
  position: relative;
  transition: all 4s ease-in-out;
  animation: bottom 4s ease-in-out;
}
@keyframes bottom {
  from {
    bottom: -200%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#rightside {
  position: relative;
  transition: all 4s ease-in-out;
  animation: right 4s ease-in-out;
}
@keyframes right {
  from {
    left: -200%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

#arrow {
  margin-top: 5px;
  width: 50px;
}

@keyframes color-change {
  0% {
    color: white;
  }
  100% {
    color: #ffd700;
    text-shadow: 0px 0px 7px #ffd700;
  }
}

@media only screen and (max-width: 1000px) {
  #center {
    font-size: 50px; /*diminution de la taille de la police */
    letter-spacing: 10px; /*diminution de l'espacement entre les lettres*/
  }
}
@media only screen and (max-width: 600px) {
  #center {
    font-size: 40px; /*diminution de la taille de la police */
    letter-spacing: 6px; /*diminution de l'espacement entre les lettres*/
  }
}
@media only screen and (max-width: 400px) {
  #center {
    font-size: 30px; /*diminution de la taille de la police */
    letter-spacing: 2px; /*diminution de l'espacement entre les lettres*/
  }
}
