@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
main {
  color: white;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 6fr 1fr;
  height: 100vh;
  background-color: black;
}
.sideComp{
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  align-items: center;
}
#header {
  grid-area: 1 / 2 / 2 / 3;
  flex-wrap: wrap;
   margin-top: 20px; 
  transition: all 4s ease-in-out;
  animation: bottom 4s ease-in-out;
  background: none;
}
#leftside {
  grid-area: 2 / 1 / 3 / 2;
  margin-bottom: 20px;
  margin-left: 10px;
  justify-content: center;
}
#rightside {
  grid-area: 2 / 3 / 3 / 4;
  margin-bottom: 20px;
  margin-right:10px;
  justify-content: center;
}
#footer {
  grid-area: 4 / 2 / 3 / 3;
  justify-content: end;
}
#center {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 60px;
  font-weight: bold;
  animation: color-animation 1s ease-in-out forwards;
  animation-iteration-count: 1;
  letter-spacing: 15px;
}
.nav {
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav:hover {
  text-transform: uppercase;
  color: #ffd700;
}
.bi {
  margin-bottom: 5px;
  font-size: 40px;
  box-shadow: rgba(254, 255, 255, 0.2) 0px 8px 24px;
}
.bi:hover {

}
#center {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  animation: color-animation 1s ease-in-out forwards;
  animation-iteration-count: 1;
  display: flex;
  letter-spacing: 15px;
}
.letter {
  font-family: "Raleway", sans-serif;
  font-stretch: expanded;
  animation: color-change 0.5s;
  animation-fill-mode: forwards;
}
.navBar {
  position: absolute;
  bottom : 50px;
  right : 50px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
#footer {
  position: relative;
  transition: all 4s ease-in-out;
  animation: drop 4s ease-in-out;
  margin-bottom : 30px ;
}
#img {
  text-align: center;
}
@keyframes drop {
  from {
    top: -200%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
#leftside {
  position: relative;
  transition: all 4s ease-in-out;
  animation: dropleft 4s ease-in-out;
}
@keyframes dropleft {
  from {
    right: -200%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes bottom {
  from {
    bottom: -200%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#rightside {
  position: relative;
  transition: all 4s ease-in-out;
  animation: right 4s ease-in-out;
  background: none;
}
@keyframes right {
  from {
    left: -200%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes color-change {
  0% {
    color: white;
  }
  100% {
    color: #ffd700;
    text-shadow: 0px 0px 7px #ffd700;
  }
}

@media only screen and (max-width: 1000px) {
  #center {
    font-size: 50px; /*diminution de la taille de la police */
    letter-spacing: 10px; /*diminution de l'espacement entre les lettres*/
  }
  .arrow {
    width: 50px;
  }
}
@media only screen and (max-width: 700px) {
  #center {
    font-size: 40px; /*diminution de la taille de la police */
    letter-spacing: 6px; /*diminution de l'espacement entre les lettres*/
  }
  .arrow {
    width: 40px;
  }
}
@media only screen and (max-width: 500px) {
  #center {
    font-size: 30px; /*diminution de la taille de la police */
    letter-spacing: 2px; /*diminution de l'espacement entre les lettres*/
  }
  .arrow {
    width: 30px;
  }
}

#projects {
  bottom: 0px;
  top : 0px ;
  display: none;
  height: 100vh;
  background-color: white;
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1;
  animation: fadeOut ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
